{% extends 'base.html.twig' %}

{% block title %}GPX Fixer{% endblock %}

{% block body %}
    <div class="container shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <a class="link-secondary" href="{{ path('index') }}"><h1>GPX Fixer</h1></a>
            <h3>Чиним поврежденные треки</h3>
            <p>
                Чтобы исправитъ файл .gpx, который не открывается, загрузите его сюда:
            </p>
        </div>
        {% if errors %}
            <div class="row">
                {% for error in errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <form method="post" action="{{ path("upload_file") }}" enctype="multipart/form-data">
                <div class="fieldset">
                    <div class="input-group mb-3">
                        <div>
                            <label for="formFile" class="form-label">Выберите трек</label>
                            <input type="hidden" name="MAX_FILE_SIZE" value="30000000"/>
                            <input class="form-control" id="formFile" type="file" name="track">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div>
                            <button class="btn btn-primary" type="submit">Загрузитъ</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <p>
                <a href="https://ra0ued.ru" class="link-secondary">ra0ued.ru</a>
                {{ include('partial/tg.html.twig') }}
            </p>
        </div>
    </div>

{% endblock %}